header {color: red}
header {font-size: 60px}
strong {color: red}
em {color: blue}
p {font-size: 30px}
a {font-size: 50px}
	a:link {color: yellow}
	a:visited {color: green}
	a:hover {color: blue}
	a:active {color: red} 