<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="https://www.youtube.com/channel/UCiMhD4jzUqG-IgPzUmmytRQ">YouTube <i class="fab fa-youtube"></i></a>
  <a href="https://en.wikipedia.org/wiki/Queen_(band)">Wikipedia <i class="fab fa-wikipedia-w"></i></a>
  <a href="https://open.spotify.com/artist/1dfeR4HaWDbWqFHLkxsg1d">Listen To Them On Spotfiy!<i class="fab fa-spotify"></i></a>
  <a href="http://www.queenonline.com/">Queen Offical Website <i class="fas fa-crown"></i> </a>
</div>

<!-- Use any element to open the sidenav -->
<span class="cooldude" onclick="openNav()"><i class="fas fa-bars"></i></span>

<script>
function openNav() {
document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
document.getElementById("mySidenav").style.width = "0";
}
</script>