h1 {font-size: 45px; 
width:1899px;
height: 60px;
border: solid green 5px; color:
font-size: 40px
margin-left:50px;}
h2 {

	color: red;

	margin-left: 150px;

	width: 1650px;

	height: 60px;

	border: 5px solid green;

	font-size: 40px;
	margin-top: 100px

}
h3 {
	color:blue;

	margin-left: 350px;

	margin-top: 70px;

	width: 1075px;

	height: 60px;

	padding: 20px;

	border-style: dashed;

	border: 10px dashed blue;

	font-size: 40px;}

.box1 {


	font-size: 45px;

	width: 1900px;

	height: 250px;

	background-color: white;

	border: 5px solid red;

	margin-left: 1px;}
.TESTBOX {
	font-size: 45px;

	width: 1900px;

	height: 250px;

	background-color: white;

	border: 5px solid red;
    
     margin-top: 150px;

	margin-left: 1px}
